# Python: Introduction to data structures

There are four key sequential data structures in Python:

- List
- Tuple
- Set
- Dictionaries

These data structures can hold different data types, such as strings `str`, integers `int`, floats `float`, or even other data structures.

In [1]:
x = "A string"
type(x)

str

In [2]:
y = 23
type(y)

int

In [3]:
z = 12.1
type(z)

float

In [4]:
print(x)
print(type(x))

A string
<class 'str'>

In [5]:
print(f"x is {x} of type {type(x)}") # In this print function we made use of f-Strings a convenient way to embed variables or expressions inside strings

x is A string of type <class 'str'>

In [6]:
print("x is {} of type {}".format(x, type(x))) # This is an alternative way to evaluate variables or expressions inside strings, less readable.

x is A string of type <class 'str'>

## List

- Sequence data
- Mutable (you can add and remove elements)
- Ordered, so it is sortable

Creating a list:

In [7]:
listA = [1, 2, 3, 4] # Note the use of square brackets for creating a list
listB = ["a", "b", "c", "d"]

print(listA, listB) # Note that Python represents lists using square brackets

[1, 2, 3, 4] ['a', 'b', 'c', 'd']

Combining two lists:

In [8]:
newList = listA + listB # Adding to lists
newList # A list can have different types

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

Adding new items to a list:

In [9]:
newList.append(5)
newList

[1, 2, 3, 4, 'a', 'b', 'c', 'd', 5]

Adding new intems to a list in specific position

In [10]:
newList.insert(0, "z")
newList

['z', 1, 2, 3, 4, 'a', 'b', 'c', 'd', 5]

Delete items from the list by position:

In [11]:
del(newList[0])
newList

[1, 2, 3, 4, 'a', 'b', 'c', 'd', 5]

In [12]:
newList.pop()

5

In [13]:
newList

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [14]:
newList.reverse()
newList

['d', 'c', 'b', 'a', 4, 3, 2, 1]

In [15]:
newList.sort() # We cannot sort a list with mixed types
newList

TypeError: '<' not supported between instances of 'int' and 'str'

In [16]:
listA.reverse()
listA

[4, 3, 2, 1]

In [17]:
listA.sort()
listA

[1, 2, 3, 4]

## Tuple

- Sequence data
- No mutable (you cannot add elements, neither change elements)
- Ordered, it is sortable

In [18]:
tupleA = ("Name", "DOB", "Email") # Note the use of brackets for defining and representing a list
tupleA

('Name', 'DOB', 'Email')

In [19]:
tupleB = "Lastname", "Country"
tupleB

('Lastname', 'Country')

In [20]:
tupleA + tupleB

('Name', 'DOB', 'Email', 'Lastname', 'Country')

In [21]:
tupleA[0]

'Name'

In [22]:
del(tupleA[0]) # Tuple is not mutable, so we cannot delete

TypeError: 'tuple' object doesn't support item deletion

## Set

- No duplicates
- Unordered
- Very fast computations
- Uses Mathematical set operations

In [23]:
setA = {1,2,3,4} # Note the curly braces for defining and representing sets
setB = {4,5,6,7}
setC = set()

print(setA, setB, setC)

{1, 2, 3, 4} {4, 5, 6, 7} set()

In [24]:
setA.add(5)
setA

{1, 2, 3, 4, 5}

In [25]:
setA.remove(5)
setA

{1, 2, 3, 4}

Mathematical set operations:

In [26]:
setA & setB # Intersection - AND

{4}

In [27]:
setA | setB # Union - OR

{1, 2, 3, 4, 5, 6, 7}

In [28]:
setA ^ setB # Summetric difference - XOR

{1, 2, 3, 5, 6, 7}

In [29]:
setA <= setB # Evaluating if setB is contained in setA

False

In [30]:
setA >= setB # Evaluating if setA is contained in setB

False

In [31]:
setA - setB # Evaluating difference: elements in setA not contained in setB

{1, 2, 3}

## Dictionary

- Made of key and value pairs
- Unordered

In [32]:
dictA = {"Name": "Tina", "LastName": "Marvel"}
dictA

{'Name': 'Tina', 'LastName': 'Marvel'}

In [33]:
dictB = dict([("Name", "Jim"), ("LastName", "Clarke")])
dictB

{'Name': 'Jim', 'LastName': 'Clarke'}

In [34]:
dictA["Name"]

'Tina'

In [35]:
dictA.keys()

dict_keys(['Name', 'LastName'])

In [36]:
dictA.values()

dict_values(['Tina', 'Marvel'])

In [37]:
dictA.items()

dict_items([('Name', 'Tina'), ('LastName', 'Marvel')])

In [38]:
"Tina" in dictA.values()

True

In [39]:
"Tina" in dictB.values()

False

## Indexing

In [40]:
listA, listB

([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

Python index starts at zero "0". So, the first element will be always at index zero.

In [41]:
listA[0]

1

In [42]:
listA[-1]

4

In [43]:
listA[0:2]

[1, 2]

In [44]:
listA[::2]

[1, 3]

In [45]:
listA[::-2]

[4, 2]

## Want to know more

If you want to learn more about data structures and how to create them, explore Python comprehensions